body{
}
/* start header */

header .navbar-default .navbar-nav .dropdown-menu{
    margin-top: 13px;
}
.navbar-default .navbar-nav > .active > a:focus{
    background-color:#fff;
    color: #80deea;
}

header{
    background: url(../img/courses/01.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header .fogheader {
    background: rgba(0,0,0,0.2);
}
header .contheader h1 {
    color: white;
    font-size: 80px;
    margin-top: 220px;
    padding: 30px 120px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    display: inline-block;
    margin-bottom: 150px;
    font-family: 'Slabo 27px', serif;
    text-transform: uppercase;
}
header .contheader h1 span {
    color: #80DEEA;
}

/* end header */

/* start content */

.content{
    overflow: hidden;
}
.content img {
    display: block;
    margin: auto;
    margin-top: 40px;
    border: 1px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 5px grey;
}
.content h2{
    display: inline-block;
    margin-top: 50px;
    color: #20245f;
    border-bottom: 3px solid #000;
    padding: 20px;
}
.content p .spantafsir{
    letter-spacing: .5px;
    line-height: 40px;
    color: #ff0d0d;
    font-size: 20px;
    padding: 7px;
    border: 1px solid;
    border-radius: 10px;
}
.content .cont {
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.content .cont p{
    letter-spacing: .5px;
    line-height: 40px;
    color: #dc6702;
    margin-bottom: 35px;
}
.content .cont .spankids{
    color: #569ba7;
}
.content .cont ul{
    margin-bottom: 20px; 
}
.content .cont li{
    letter-spacing: .5px;
    line-height: 40px;
    color: #dc6702;
    margin-bottom: 30px;
}
.content .fees{
    margin-bottom: 65px;
    overflow: hidden;
    text-align:left;
}
.content .fees img {
    width: auto;
    height: auto;
    display: inline;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
}
.content .fees p{
    color: #20265e;
    display: inline;
    line-height: 120px;
    font-family: 'Playfair Display', serif;
}
.content .fees p span {
    color: #f00;
}
hr{
    border: 1.5px solid #eee;
    margin-bottom: 30px;
}
.join{
    margin-bottom: 50px;
}
.join a{
    color: #000;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #000;
    background: #80deea;        
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.join a:focus{
        text-decoration: none;
}
.join a:hover{
    background: #000;
    color: #80deea;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px #000;
}
.join a span{
    margin-left: 10px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.join a:hover span{
    margin-left: 20px;
}

/* end content */

/*** start media query ***/

@media (max-width: 768px){
    header .contheader h1{
        padding: 30px 50px;
        font-size: 50px;
    }
}

/*** end media query ***/
