/***** start hreader **/
body{

}
header {
    background: url(../img/contact/01.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header .fogheader {
    background: rgba(0,0,0,0.6);
}
header .contheader h1 {
    color: #80DEEA;
    font-size: 80px;
    margin-top: 220px;
    padding: 30px 120px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    display: inline-block;
    margin-bottom: 150px;
    font-family: 'Slabo 27px', serif;
}
header .contheader h1 span {
    color: #dc6702;
}

/***** end hreader **/

/* start content */

section{
    background-image: linear-gradient(to left, #47d7e0, #f17c71);
}
section .content{
    background: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    padding: 50px 30px;
    box-shadow: 0px 0px 10px 0px grey;
    margin-bottom: 50px;
}
section .content h2{
}
section .content hr{
    width: 4%;
    border-top: 2px solid #fff;
    margin-bottom: 50px;
}
section .cont{
    margin-bottom: 50px;
    padding: 20px;
}
section .cont img{
    margin-right: 20px;
    box-shadow: 2px 2px 5px grey;
    border: 1px;
    border-radius: 50%;
    width: 64px;
    height: 64px;

}
section .cont p{
    display: inline-block;
    color: #c95d39;
    font-family: 'Merriweather', serif;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
section .cont p span{
    color: #20255e;
}
section .cont:hover{
    background: #000;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
}
section .cont:hover p{
    color: #ffa500;
}
section .cont:hover span{
    color: #fff;
}

/* end content */

/*** start media query ***/

@media (max-width: 768px){
    header .contheader h1{
        padding: 30px 50px;
        font-size: 50px;
    }
}

/*** end media query ***/
