/***** start hreader **/
body{

}
header {
    background: url(../img/fees/01.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header .fogheader {
    background: rgba(0,0,0,0.6);
}
header .contheader h1 {
    color: white;
    font-size: 80px;
    margin-top: 220px;
    padding: 30px 120px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Slabo 27px', serif;
}
header .contheader h1 span {
    color: #80DEEA;
}

/***** end header **/

/* start content */

section{
    padding: 20px;
    border-bottom: 3px solid #80deed;
    box-shadow: 2px 0px 5px;
    background: #fbf9f9;
}
section h2{
    display: inline-block;
    margin-top: 50px;
    color: #1c8a98;
    border-bottom: 3px solid #ff7600;
    padding: 20px;
}
section .cont {
    padding: 30px;
}
section .cont p {
    color: #20265e;
    font-family: 'Sedgwick Ave', cursive;
}
section .cont p span {
    color: #f00;
    font-family: 'Anton', sans-serif;
}

/* end content */